# backend runtime data
/backend/volumes/
/backend/volumes/**
/backend/.idea

# uploaded documents or local test files
/backend/data/documents/
/backend/data/documents/**

# env
/backend/.env
.env

# socket
*.sock

# python
__pycache__/
*.pyc

# logs
*.log
logs/

# frontend
/frontend/node_modules/
node_modules/

# local agent/codex
.codex/
.agents/